.image-with-text {
    margin-bottom: 20px;
    text-align: center; 
}

.search-button {
    background-color: #007bff;
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer; 
    transition: all 0.3s ease; 
  }
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .images img {
    width: 300px;
    height: 225px; 
    height: auto; 
    margin-right: 20px;
  }
  
  .label {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 12px;
  }

  
  .image-slider {
    overflow-x: auto; 
  }
  
  .images {
    display: flex; 
  }
  
  .image-container {
    margin-right: 10px; 
    width: 300px; 
    height: 225px; 
    object-fit: cover;
  }

  .image-container1 {
    margin-right: 10px; 
    width: 300px; 
    height: 225px; 
  }
  
  .image-container:last-child {
    margin-right: 0; 
  }

  .image-slider{
    border-color: #007bff;
    border-width: 2px;
  }
  
  #map{
    height: 80vh;
    width: 100%;
  }

  #flightAlerts {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.alert {
    margin-top: 10px;
    display: none;
}
#trackFlightBtn {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: -5px;
  cursor: pointer;
  border-radius: 5px;
}

#trackFlightBtn:hover {
  background-color: #45a049; /* Darker green */
}
#flightNumberInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

th {
  padding: 10px;
}


svg {
  height: auto;
  position: absolute;
  width: 100%;
}

svg:not(:root) {
  overflow: auto;
}

#container-svg {
  background: #efefef;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  display: table;
  height: 100%;
  margin: 2rem auto;
  min-height: 320px;
  min-width: 320px;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.map {
  background-color: #4cacff;
  background-size: cover;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/52887/BlankMap-World-v2-2011.svg);
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  flex-basis: 100%;
  flex-wrap: nowrap;
  height: 0;
  margin: auto;
  padding-bottom: 52.168447517%;
  width: 100%;
}

.line {
  height: 0;
  padding-bottom: 52.168447517%;
  position: absolute;
  top: 0;
  width: 100%;
}

.line svg {
  height: 100%;
  position: absolute;
  width: 100%;
}

.line svg path {
  animation-name: line;
  animation-duration: 15s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  fill-opacity: 0;
  stroke: #ffc107;
  stroke-width: 3;
  stroke-dasharray: 870;
  stroke-dashoffset: 870;
}

@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

.plane {
  margin: 0;
  position: absolute;
}

.info {
  background: #efefef;
  border-radius: 0 0 5px 5px;
  display: block;
  height: auto;
  width: 100%;
}


h1 {
  padding-right: .75rem;
}

h1,
h2 {
  display: inline-block;
}

.info span {
  border-right: 1px solid #ccc;
  height: auto;
  display: inline-block;
  float: left;
  padding: 1.5rem;
  width: 50%;
}

.info span:last-child {
  border-right: 0;
}

.info span h3 {
  font-weight: 700;
}

.info span:first-child {
  border-right: 1px solid #ccc;
}
